DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=hospitales
DB_USERNAME=root
DB_PASSWORD=

JWT_SECRET=TU_SECRETO_MUY_SEGUR0_CAMBIA_ESTO_EN_PRODUCCION
JWT_EXPIRATION=28800

CORS_ORIGIN=http://localhost:5173


